<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS import from css-->
    <link rel="stylesheet" type="text/css" href="../public/css/loginForm.css" >
    <style>
    body {
      font-family: 'Trebuchet MS', sans-serif;
      transition: 3s;
      margin: 0px;
      padding: 0px;
      background: radial-gradient(circle, rgba(253,255,255,1) 36%, rgba(0,212,255,1) 81%);
    }

    .login-container {
      margin-top: 10%;
      border: 1px solid #CCD1D1;
      border-radius: 5px;
      box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
      max-width: 50%;
    }

    .ads {
      background-image: url('https://assets.poetryfoundation.org/uploads/contentImages/_twitter/library-header.jpg');
      background-size: cover;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #fff;
      padding: 15px;
      text-align: center;
    }

    .ads h1 {
      margin-top: 20%;
    }

    #fl {
      font-weight: 600;
    }

    #sl {
      font-weight: 100 !important;
    }

    .profile-img {
      text-align: center;
    }

    .profile-img img {
      border-radius: 50%;
      /* animation: mymove 2s infinite; */
    }

    @keyframes mymove {
      from {border: 1px solid #F2F3F4;}
      to {border: 8px solid #F2F3F4;}
    }

    .login-form {
      padding: 15px;
    }

    .login-form h3 {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .form-control {
      font-size: 14px;
    }

    .forget-password a {
      font-weight: 500;
      text-decoration: none;
      font-size: 14px;
    }


    </style>

    <title>LibMan</title>
  </head>
  <body>


    <!--Login Form-->

    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 ads">
          <h1><span id="fl">Lib</span><span id="sl">Man</span></h1>
        </div>
        <div class="col-md-6 login-form">
          <div class="profile-img">
            <img src="https://png.pngtree.com/svg/20170721/0083f9a69c.png" alt="Admin" height="140px" width="140px;">
          </div>
          <h3>Login</h3>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <a class = "btn btn-primary btn-lg btn-block" href = "/query">Sign In</a>
            </div>
            <div class="form-group forget-password">
                <a href="#">Forget Password</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
