<html>
<header>
  <title>LibMan
  </title>
</header>
      <body>
        <br><br><br>
        <center><p><b> QUERY RESULTS: </b></p></center>
        <p>TITLE: {{title}} </p><br>
        <p>ISBN: {{ISBN}}</p><br>
        <p>BOOK EDITION: {{book_edition}}</p><br>
        <p>DATE: {{date}}</p><br>

      </body>
</html>
